:root {
  --white: #fff;
  --primary: #61ecbc;
  --black: #182339;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}
.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}
.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: .8;
}
.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}
.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.form, .field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form label {
  color: var(--black);
}
.form select {
  background-color: #ecebeb;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}
.form [type="submit"] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
  border-radius: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color 300ms ease;
}
.form [type="submit"]:hover {
  background-color: #0cb387;
}

.result-wrapped{
  margin-top: 5rem;
}
.result-wrapped h2 {
  text-align: center;
}

.result {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
}
.result img {
  width: 100%;
}
.result p {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}
.result span {
  font-weight: 700;
}